<ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <a [attr.href]="image.linkUrl == '' ? null : image.linkUrl"
         [attr.target]="(image.linkUrl == '' || image.isInternal == true) ? null : '_blank'" >
         <!-- TRUEd: <a href="image.linkUrl" target="_blank"></a> -->
         <!-- OLEMAS LINK, aga INTERNAL: <a href="image.linkUrl"></a> -->
         <!-- FALSED'd: <a></a> -->
        <div class="picsum-img-wrapper">
            <img [src]="image.url" alt="{{ image.alt }}">
        </div>
        <div class="carousel-caption">
          <h3>{{ image.header }}</h3>
          <p>{{ image.text }}</p>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>