<button class="main-button back" (click)="onBack()">Tagasi</button>

<form (ngSubmit)="onSubmit(editItemForm)" [formGroup]="editItemForm">
    <label>Nimetus</label><br>
    <input placeholder="Toote nimetus" type="text" required formControlName="title"><br>
    <label>Pilt</label><br>
    <input placeholder="Toote pilt" type="text" required formControlName="imgSrc"><br>
    <label>Hind</label><br>
    <input placeholder="Toote hind" type="number" required formControlName="price"><br>
    <label>Kategooria</label><br>
    <!-- <input placeholder="Toote kategooria" type="text" required formControlName="category"><br> -->

    <select formControlName="category">
        <option disabled value="">Vali kategooria</option>
        <option *ngFor="let category of categories" [value]="category.categoryName">  
            {{category.categoryName}}
        </option> 
    </select>

    <label>Ribakood</label><br>
    <input 
        (keyup)="onCheckBarcodeUnique()" 
        placeholder="Toote ribakood" 
        pattern="^[0-9]*$" 
        type="text" 
        formControlName="barcode"
        required><br>
    <div *ngIf="!barcodeUnique" class="alert alert-danger">
        Ribakood ei ole unikaalne
    </div>
    <label>Tootja</label><br>
    <input placeholder="Toote tootja" type="text" formControlName="producer"><br>
    <label>Kirjeldus</label><br>
    <input placeholder="Toote kirjeldus" type="text" formControlName="description"><br>
    <label>Aktiivne</label>
    <input type="checkbox" formControlName="isActive"><br>
    <button class="main-button add" [disabled]="editItemForm.invalid" type="submit">Sisesta toode</button>
</form>