<div class="empty-cart-button" (click)="onEmptyCart()" *ngIf="cartItems.length > 0">Tühjenda ostukorv</div>

<div class="items-wrapper">
	<div class="item" *ngFor="let item of cartItems; let i = index">
		<img src="{{ item.imgSrc }}">
		<div class="item-title">{{ item.title }}</div>
		<div class="item-price">{{ item.price }} €</div>
		<img (click)="onDeleteFromCart(i)" class="delete-from-cart-button" src="assets/bin.svg" alt="">
	</div>
</div>

<div class="sum-of-cart" *ngIf="cartItems.length > 0">SUMMA: {{ sumOfCart.toFixed(2) }} €</div>

<div class="empty-cart" *ngIf="cartItems.length == 0">
	<img src="" alt="">
	<div>Ostukorv on tühi</div>
</div>