<div class="empty-cart-button" (click)="onEmptyCart()" *ngIf="cartItems.length > 0">Tühjenda ostukorv</div>

<div class="items-wrapper">
	<div class="item" *ngFor="let item of cartItems; let i = index">
		<img class="item-img" src="{{ item.cartItem.imgSrc }}">
		<div class="item-title">{{ item.cartItem.title }}</div>
		<div class="item-price">{{ item.cartItem.price | thousandSeparator }} €</div>
		<div class="add-to-cart-button">  
			<span (click)="onDeleteOneFromCart(item.cartItem)"><img src="assets/minus.svg"></span>
			<div>{{ item.count }} tk</div>
			<span (click)="onAddToCart(item.cartItem)"><img src="assets/plus.svg"></span>
		</div>
		<div class="item-price"><b>{{ item.count * item.cartItem.price | thousandSeparator }} €</b></div>
		<img class="delete-from-cart-button" (click)="onDeleteAllFromCart(i)" src="assets/bin.svg" alt="">
	</div>
</div>

<div class="sum-of-cart" *ngIf="cartItems.length > 0">SUMMA: {{ sumOfCart | thousandSeparator }} €</div>

<div class="empty-cart" *ngIf="cartItems.length == 0">
	<img src="" alt="">
	<div>Ostukorv on tühi</div>
</div>