<!-- div.class -->
<div class="navbar">
  <!-- image-l on ainult üks tääg, alt - alternative text -->
  <img routerLink="/" src="assets/webshio.svg" />
  <div routerLink="cart" class="cart-button">
    <img src="assets/shopping-cart.svg" />
    <span>0.00 €</span>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <h1>Suur header</h1>
<h2>Järgmine header</h2>
<h3>Header suurusega 3</h3>
<h4>Väiksem header</h4>
<p>Teksti jaoks</p>
target-blank tekitab uue tabi lingile vajutades
<a href="http://www.google.com" target="blank">Mine google-sse</a><br />
<button>Nupp</button> -->
<div class="footer"></div>

<!-- helesinised on HTML atribuudid -->
<!-- oranžid on jutumärkide sees klassid, muutujad, väärtused -->
<!-- valged on kasutajatele nähtavad tekstid -->
<!-- tumesinised on täägi (tag) nimed -->
<!-- vaherida tekitab br ( <br /> ) -->
