 <!-- {{ kuupaev | date  }} -->
<!-- {{ kuupaev | date:'fullDate'  }}  short, medium, full, shortDate, mediumDate, fullDate -->
 <!-- {{ 500000 | currency:'EUR' }}
 {{ 500000 | currency }}
 {{ 0.1 | percent }} -->
 <!-- uppercase lowercase titlecase -->

<div (click)="onCategoryFilter(category)" *ngFor="let category of itemsOriginal | uniqueCategory">
  {{ category }}
</div>

<div class="filter-bar">
    <div class="filter-name">{{ 'sort-text' | translate }}</div>
    <div class="filter-value price" (click)="onSortPrice()">Hinna alusel</div>
    <div class="filter-value title" (click)="onSortTitle()">{{ 'Tähestiku alusel' | translate }}</div>
</div>

<div class="items-wrapper">
    <div class="item" *ngFor="let item of itemsShown; let i = index">
      <img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
      <div class="add-to-cart-button-wrapper">
        <div class="add-to-cart-button">  
          <span (click)="onDeleteFromCart(item)">-</span>
          <span>_kogus_</span>
          <span (click)="onAddToCart(item)">+</span>
        </div>
      </div>
      <div class="item-title">{{ item.title | translate | shortenTitle:5 }}</div>
      <div class="item-price">{{ item.price | thousandSeparator }} €</div>
    </div>
  </div>