 <!-- {{ kuupaev | date  }} -->
<!-- {{ kuupaev | date:'fullDate'  }}  short, medium, full, shortDate, mediumDate, fullDate -->
 <!-- {{ 500000 | currency:'EUR' }}
 {{ 500000 | currency }}
 {{ 0.1 | percent }} -->
 <!-- uppercase lowercase titlecase -->
 
<br><br>

<div class="sidenav">
  <div (click)="onCategoryFilter('all')" [ngClass]="{'category-active': categoryShown == 'all'}">Kõik kategooriad</div>
  <div (click)="onCategoryFilter(category)" 
    *ngFor="let category of itemsOriginal | showActiveItems:isLoggedIn | uniqueCategory"
    [ngClass]="{'category-active': category == categoryShown}">
    {{ category }}
  </div>
</div>

<div class="main">
  <app-gallery-carousel></app-gallery-carousel>
  <div class="filter-bar">
      <div class="filter-name">{{ 'sort-text' | translate }}</div>
      <div class="filter-value price" (click)="onSortPrice()">Hinna alusel</div>
      <div class="filter-value title" (click)="onSortTitle()">{{ 'Tähestiku alusel' | translate }}</div>
  </div>

  <div class="items-wrapper">
    <app-item-card 
      [item]="itemShown" 
      [loggedIn]="isLoggedIn"
      class="item" 
      *ngFor="let itemShown of itemsShown"
      (itemActiveChanged)="itemActiveChanged($event)">
    </app-item-card>
  </div>
</div>