<div class="panel" *ngIf="item">
  <img class="item-img" src="{{ item.imgSrc }}">
  <div>
    <h1 class="item-title">{{ item.title | translate | shortenTitle }}</h1>
    <div class="item-price">{{ item.price | thousandSeparator }} €</div>
    <div class="add-to-cart-button-wrapper">
      <div class="add-to-cart-button">
        <span (click)="onDeleteFromCart(item)"><img src="assets/minus.svg"></span>
        <span>___</span>
        <span (click)="onAddToCart(item)"><img src="assets/plus.svg"></span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!item">
  Toodet ei leitud
</div>